@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

body {
  overflow: hidden;
  background: linear-gradient(-45deg, #A9F99E, #46ADD5, red);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.LP-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .LP-h1 {
  color: #fff;
  font-size: 50px;
  padding: 10px 0;
} */

.LP-h1 {
  color: white;
  font-style:oblique;
  font-size: 30px;
  margin-top: -260px;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 900;
  color: #a7abaf82;
  background-image: url(https://t4.ftcdn.net/jpg/02/97/72/11/360_F_297721127_QYZyTfm4qXxjWB7bK0ctv1Dgu2rfCqtS.jpg);
  -webkit-background-clip: text;
  -webkit-animation: water 20s infinite;
          animation: water 15s infinite;
}
@-webkit-keyframes water {
  from {
    background-position: right 0 top 0;
  }
  to {
    background-position: right 2000px top 0;
  }
}

@keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}
.LP-h2 {
  color: #fff;
  font-size: 35px;
  padding: 10px 0;
}

.LP-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.LP-button {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  height: 70px;
  outline: none;
  width: 250px;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.LP-button:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
}

.LP-logo {
  position:fixed;
  left: 10px;
  height: 1020px;
}

.LP-logo img {
  width: 50px;
  height: 50px;
}
