.MMP-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  /* background-color: #f0f0f0; */
}

.MMP-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.MMP-logo img {
  width: 50px;
  height: 50px;
}

.MMP-h1 {
  color: white;
  font-style:oblique;
  font-size: 30px;
  margin-top: 60px;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 900;
  color: #a7abaf82;
  background-image: url(https://wallpaperaccess.com/full/1308193.jpg);
  -webkit-background-clip: text;
  -webkit-animation: water 20s infinite;
          animation: water 15s infinite;
}
@-webkit-keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 2000px top 0;
  }
}

@keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}

.MMP-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.MMP-card {
  position: relative;
  width: 350px;
  height: 250px;
  margin: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.6s ease;
}

.MMP-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.MMP-card-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.MMP-card-link:hover::after {
  opacity: 1;
}

.MMP-card h1,
.MMP-card span {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MMP-card .MMP-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.MMP-bg1,
.MMP-bg2,
.MMP-bg3,
.MMP-bg4,
.MMP-bg5,
.MMP-bg6,
.MMP-bg7 {
  background-size: cover;
  background-position: center;
}

.MMP-bg1 {
  background-image: url('https://cstad.s3-ap-southeast-2.amazonaws.com/naturalchina_zhangjiajiehero.jpg');
}

.MMP-bg2 {
  background-image: url('https://www.reuters.com/resizer/tmNloT92sUu3wMC9vaEJDR0z-Ts=/960x1200/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/AHF2FYISNJO55J6N35YJBZ2JYY.jpg');
}

.MMP-bg3 {
  background-image: url('https://cdn.britannica.com/98/214598-050-9879F2FA/giant-sequoia-tree-Sequoia-National-Park-California.jpg');
}

.MMP-bg4 {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/59/305/180/blue-world-social-network-line-wallpaper-preview.jpg');
}

.MMP-bg5 {
  background-image: url('https://loveincorporated.blob.core.windows.net/contentimages/gallery/03211459-0607-4d07-8a6c-9966e3820a7d-Mount-Kirkjufell-Iceland.jpg');
}

.MMP-bg6 {
  background-image: url('https://www.jessleephotos.com/images/640/Cathedral-Group.jpg');
}

.MMP-bg7 {
  background-image: url('https://i.pinimg.com/originals/b9/1d/bd/b91dbdcdbe71583ed31892642484649e.jpg');
}
